registry=https://office.pkgs.visualstudio.com/_packaging/OfficeISS/npm/registry/
always-auth=true
registry=https://office.pkgs.visualstudio.com/_packaging/AugmentationLoop@Local/npm/registry/
always-auth=true
registry=https://office.pkgs.visualstudio.com/_packaging/Office/npm/registry/
always-auth=true
